In [5]:
import pandas as pd

In [7]:
df = pd.read_csv("Top-Movies.csv")
df

,indice_global,indice_estricto,título,director,año,duración,género,rating,metascore,recaudación(M)
0,0,0.0,The Shawshank Redemption,Frank Darabont,1994.0,142.0,Drama,9.3,82.0,28.34
1,1,1.0,The Godfather,Francis Ford Coppola,1972.0,175.0,Crimen,9.2,100.0,134.97
2,2,1.0,The Godfather,Francis Ford Coppola,1972.0,175.0,Drama,9.2,100.0,134.97
3,3,2.0,The Dark Knight,Christopher Nolan,2008.0,152.0,Acción,9.0,84.0,534.86
4,4,2.0,The Dark Knight,Christopher Nolan,2008.0,152.0,Crimen,9.0,84.0,534.86
...,...,...,...,...,...,...,...,...,...,...
2527,2527,998.0,The Invisible Man,James Whale,1933.0,71.0,Terror,7.6,87.0,0.00
2528,2528,998.0,The Invisible Man,James Whale,1933.0,71.0,Ciencia Ficción,7.6,87.0,0.00
2529,2529,999.0,Cell 211,Daniel MonzÃ³n,2009.0,113.0,Acción,7.6,0.0,0.00
2530,2530,999.0,Cell 211,Daniel MonzÃ³n,2009.0,113.0,Crimen,7.6,0.0,0.00
2531,2531,999.0,Cell 211,Daniel MonzÃ³n,2009.0,113.0,Drama,7.6,0.0,0.00

In [8]:
#Sort values for a specific column by default will be ascending as True
df_ordered = df.sort_values(by="rating")
df_ordered.head(10)

,indice_global,indice_estricto,título,director,año,duración,género,rating,metascore,recaudación(M)
2531,2531,999.0,Cell 211,Daniel MonzÃ³n,2009.0,113.0,Drama,7.6,0.0,0.00
2530,2530,999.0,Cell 211,Daniel MonzÃ³n,2009.0,113.0,Crimen,7.6,0.0,0.00
2529,2529,999.0,Cell 211,Daniel MonzÃ³n,2009.0,113.0,Acción,7.6,0.0,0.00
2528,2528,998.0,The Invisible Man,James Whale,1933.0,71.0,Ciencia Ficción,7.6,87.0,0.00
2527,2527,998.0,The Invisible Man,James Whale,1933.0,71.0,Terror,7.6,87.0,0.00
2526,2526,997.0,Philomena,Stephen Frears,2013.0,98.0,Drama,7.6,77.0,37.71
2525,2525,997.0,Philomena,Stephen Frears,2013.0,98.0,Comedia,7.6,77.0,37.71
2524,2524,997.0,Philomena,Stephen Frears,2013.0,98.0,Biografía,7.6,77.0,37.71
2523,2523,996.0,Shine,Scott Hicks,1996.0,105.0,Musica,7.6,87.0,35.81
2522,2522,996.0,Shine,Scott Hicks,1996.0,105.0,Drama,7.6,87.0,35.81

In [9]:
#Sort values for a specific column changing ascending as False, descending
df_ordered = df.sort_values(by= "rating", ascending= False)
df_ordered

,indice_global,indice_estricto,título,director,año,duración,género,rating,metascore,recaudación(M)
0,0,0.0,The Shawshank Redemption,Frank Darabont,1994.0,142.0,Drama,9.3,82.0,28.34
2,2,1.0,The Godfather,Francis Ford Coppola,1972.0,175.0,Drama,9.2,100.0,134.97
1,1,1.0,The Godfather,Francis Ford Coppola,1972.0,175.0,Crimen,9.2,100.0,134.97
7,7,3.0,Schindler's List,Steven Spielberg,1993.0,195.0,Drama,9.0,95.0,96.90
14,14,6.0,The Godfather Part II,Francis Ford Coppola,1974.0,202.0,Crimen,9.0,90.0,57.30
...,...,...,...,...,...,...,...,...,...,...
2048,"2048,810,""O Brother, Where Art Thou?"",Joel Coe...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2049,"2049,810,""O Brother, Where Art Thou?"",Joel Coe...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2138,"2138,847,""South Park: Bigger, Longer & Uncut"",...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2139,"2139,847,""South Park: Bigger, Longer & Uncut"",...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2140,"2140,847,""South Park: Bigger, Longer & Uncut"",...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN